/*Darkshadows61*/
*{
    box-sizing: border-box;
    clear: both;
}
/* header */
header nav li{
  list-style: none;
}
/* 48em = 768px */
#aboutBrock a:any-link{
    text-decoration: none;
    
}
table{
    display: flex;
}
#typeTable{
    display: flex;
    flex-direction: column;
    align-items: center;
}
th{
    border: 1px black solid;
}
td{
    border: 1px black solid;
}
#brockImg{
    font-size: 24px;
}
footer{
    color: black;
    padding-right: 2%;
}
footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer li{
    list-style: none;
}
footer a:link{
    text-decoration: none;
    color: black;
}
footer a:any-link{
    color: black;
}